/* Content
   ========================================================================== */

/**
 * 1. Hérite la couleur du contexte actuel.
 * 2. Supprime le style souligné.
 */
a {
    color: inherit; /* 1 */
    text-decoration: none; /* 2 */
}

/**
 * Supprime le list-style sur les liste de navigation.
 */

nav ol,
nav ul {
	list-style: none;
}
