/* Couleurs
   ========================================================================== */
$text-color: rgba(96, 98, 101, 1.00);
$nav-grey: rgba(125, 128, 131, 1.00);
$dark-text: rgba(47, 55, 68, 1.00);
$soft-grey: rgba(183, 188, 195, 1.00);
$header-gradient-color:  rgba(240, 246, 255, 1.00);
$header-gradient-color-end:  rgba(240, 246, 255, 0.00);
$title-border-bottom-color: rgba(0, 0, 0, .05);

/* Transitions
   ========================================================================== */
$default-transition-duration: .375s;

/* Gutters
   ========================================================================== */
$container-outside-gutter: 2em;

/* Media Query
   ========================================================================== */
$phone: '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), 
                    (-o-min-device-pixel-ratio: 3/2), 
                    (-webkit-min-device-pixel-ratio: 1.5), 
                    (min-device-pixel-ratio: 1.5), 
                    (min-resolution: 144dpi), 
                    (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

/**
 * 1. Fixe la largeur du contenu.
 * 2. Occupe toute la largeur possible.
 * 3. Centre le conteneur.
 */

@mixin container {
    max-width: 1024px; /* 1 */
    width: 100%; /* 2 */
    padding: 0 $container-outside-gutter;
    margin-left: auto; /* 3 */
    margin-right: auto; /* 3 */
}
