/* Couleurs
   ========================================================================== */
$text-color: rgba(96, 98, 101, 1.00);
$nav-grey: rgba(125, 128, 131, 1.00);
$dark-text: rgba(47, 55, 68, 1.00);
$soft-grey: rgba(183, 188, 195, 1.00);
$header-gradient-color:  rgba(240, 246, 255, 1.00);
$header-gradient-color-end:  rgba(240, 246, 255, 0.00);
$iceberg: rgba(223, 244, 246, 1.00);
$title-border-bottom-color: rgba(0, 0, 0, .05);
$white: rgba(255, 255, 255, 1.0);
$contact-leadtitle: rgba(141, 156, 176, 1.00);

/* Transitions
   ========================================================================== */
$default-transition-duration: .375s;
$longer-transition-duration: .5s;

$fast-bezier: cubic-bezier(.07,.96,.57,.91);

/* Gutters
   ========================================================================== */
$container-outside-gutter: 2em;

/* Button
   ========================================================================== */
$rounded-button-radius: 15px;
$call-button-radius: 25px;

/* Border
   ========================================================================== */
$hover-border-width: 2px;
$hover-small-border-width: 1px;
$case-intro-border-color: rgba(0, 0, 0, 0.08);
$small-border-height: 1px;

/* Media Query
   ========================================================================== */
$phone: '(max-width: 480px)';
$phone-landscape: '(min-width : 481px) and (max-width : 766px) ';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), 
                    (-o-min-device-pixel-ratio: 3/2), 
                    (-webkit-min-device-pixel-ratio: 1.5), 
                    (min-device-pixel-ratio: 1.5), 
                    (min-resolution: 144dpi), 
                    (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

/**
 * 1. Fixe la largeur du contenu.
 * 2. Occupe toute la largeur possible.
 * 3. Centre le conteneur.
 */

@mixin container {
    max-width: 1024px; /* 1 */
    width: 100%; /* 2 */
    padding: 0 $container-outside-gutter;
    margin-left: auto; /* 3 */
    margin-right: auto; /* 3 */
    @include respond-to($phone) {
        padding: 0 $container-outside-gutter/2;
    }
}

@mixin accelerate($name) {
    will-change: $name;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}
